# Vosk model
model/
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
.venv/
venv/
ENV/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env
.env.*

# Test/coverage
htmlcov/
.coverage
.tox/
.pytest_cache/

# Docx/Audio temp
*.docx
*.wav
*.tmp

# Jupyter
.ipynb_checkpoints/

# MyPy
.mypy_cache/
.dmypy.json

# Other
*.sqlite3
